<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__top">
            <div class="header__title">
                <h1>EAT n EAT</h1>
            </div>
            <button class="hamburger-button">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__items"><a href="#">Home</a></li>
                <li class="navbar__items"><a href="#">Favorites</a></li>
                <li class="navbar__items"><a href="#">About Us</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>