*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (min-width: 1400px) {
  body {
    font-size: 150%;
  }
}

body button {
  min-width: 44px;
  min-height: 44px;
}

body button:focus {
  border: 2px dashed;
}

body a {
  min-width: 44px;
  min-height: 44px;
  color: inherit;
  text-decoration: none;
}

body a:focus {
  border: 2px dashed;
}

body a.skip {
  background-color: #a2d0c1;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 0 0 10px 10px;
  width: 30%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  z-index: 100;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

body a.skip:focus {
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

body .like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #f4c839;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

.header {
  padding: 16px;
  background-color: #f8dc81;
  font-family: Kalam, cursive;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

@media screen and (min-width: 600px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__top__title > h1 {
  font-size: 2em;
}

.header .header__top .hamburger-button {
  background-color: transparent;
  border: 0;
}

@media screen and (min-width: 600px) {
  .header .header__top .hamburger-button {
    visibility: hidden;
  }
}

.header .header__top .hamburger-button span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #111;
  border-radius: 15%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.header .header__top .hamburger-button span:not(:last-child) {
  margin-bottom: 7.5px;
}

.header .header__top .hamburger-button span:first-child {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header .header__top .hamburger-button span:last-child {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header .header__top .hamburger-button:hover {
  background-color: #ffffff70;
}

.header .header__top .hamburger-button.open span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .header__top .hamburger-button.open span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .header__top .hamburger-button.open span:nth-child(2) {
  background-color: transparent;
}

.header .navbar {
  display: block;
  width: 100%;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  max-height: 0;
}

.header .navbar.open {
  max-height: 200px;
  background-color: #ffffff70;
}

@media screen and (min-width: 600px) {
  .header .navbar {
    max-height: 200px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: transparent;
  }
}

.header .navbar .navbar__list {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .header .navbar .navbar__list {
    text-align: right;
  }
}

.header .navbar .navbar__list .navbar__items {
  display: block;
}

@media screen and (min-width: 600px) {
  .header .navbar .navbar__list .navbar__items {
    display: inline-block;
  }
}

.header .navbar .navbar__list .navbar__items a {
  text-align: center;
  display: block;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: #000;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  padding: 13px 0;
}

@media screen and (min-width: 600px) {
  .header .navbar .navbar__list .navbar__items a {
    padding: 10px 20px;
  }
}

@media screen and (min-width: 1400px) {
  .header .navbar .navbar__list .navbar__items a {
    font-size: 1.2em;
  }
}

.header .navbar .navbar__list .navbar__items a:hover {
  border-bottom: 2px solid #eff7e1;
}

main {
  font-family: inherit;
}

main .hero {
  min-width: 100%;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../public/images/hero-image_4.jpg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1280px) {
  main .hero {
    min-height: 80vh;
  }
}

main .hero .hero__content {
  text-align: center;
  color: white;
}

main .hero .hero__content h2 {
  text-transform: uppercase;
  font-weight: 700;
}

main .hero .hero__content p {
  font-style: italic;
}

main .resto-card {
  width: 100%;
}

main .resto-card .resto-card__header {
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #a2d0c1;
}

main .resto-card .resto-card__header h3 {
  font-size: 1.5em;
}

main .resto-card .resto-card__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 30px;
  gap: 20px;
  background-color: #eff7e1;
}

@media screen and (min-width: 600px) {
  main .resto-card .resto-card__body {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1280px) {
  main .resto-card .resto-card__body {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

main .resto-card .resto-card__body .card {
  width: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 3px 3px 5px lightgray;
          box-shadow: 3px 3px 5px lightgray;
  overflow: hidden;
  background-color: #fff;
}

main .resto-card .resto-card__body .card:focus {
  border: 2px dashed;
}

main .resto-card .resto-card__body .card .card__header {
  position: relative;
}

main .resto-card .resto-card__body .card .card__header .city {
  display: block;
  min-width: 44px;
  min-height: 44px;
  padding: 15px;
  position: absolute;
  top: 10px;
  left: 0px;
  border-radius: 0 10px 10px 0;
  background-color: #a2d0c1;
  color: black;
  -webkit-box-shadow: 5px 5px 5px rgba(114, 114, 114, 0.5);
          box-shadow: 5px 5px 5px rgba(114, 114, 114, 0.5);
  font-style: italic;
  font-weight: 600;
}

main .resto-card .resto-card__body .card .card__header .card__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}

main .resto-card .resto-card__body .card .card__body {
  padding: 20px;
}

main .resto-card .resto-card__body .card .card__body h4 {
  margin-bottom: 20px;
  font-size: 1.1em;
}

main .resto-card .resto-card__body .card .card__body p {
  word-spacing: 0.3em;
}

main .resto-card .resto-card__body .card .card__body .rating {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #f8dc81;
  line-height: 3rem;
  border-radius: 30px;
}

main .detail {
  grid-column: span 3;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 0.2em;
}

main .detail .detail-header {
  width: 100%;
  position: relative;
}

main .detail .detail-header .city {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #f8dc81;
  padding: 0.5em;
  text-align: center;
}

main .detail .detail-header img.detail-image {
  width: 100%;
  border-radius: 0.2em 0.2em 0 0;
}

main .detail .detail-body {
  padding: 1em;
}

main .detail .detail-body *:not(:last-child) {
  margin-bottom: 0.4em;
}

main .detail .detail-body .detail-title {
  font-weight: bold;
  font-size: 1.3em;
}

main .detail .detail-body .detail-address {
  color: #222;
}

main .star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 2em;
  height: 1.2em;
  width: 6em;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}

main .star-ratings-css-top {
  color: #f3c120;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

main .star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

main .category-item {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 0.3em 1em;
  margin: 0.5em 0;
  border-radius: 0.2em;
}

main .category-item:not(:last-of-type) {
  margin-right: 0.3em;
}

main .menu {
  grid-column: span 3;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 0.2em;
}

main .menu .menu-header .menu-title {
  background-color: #f8dc81;
  text-align: center;
  padding: 0.5em;
  font-size: 1.3em;
}

main .menu .menu-body .menu-category button.menu-dropdown-btn {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #333;
  background-color: white;
  text-align: center;
}

main .menu .menu-body .menu-category button.menu-dropdown-btn:hover {
  background-color: #c9c9c9;
}

main .menu .menu-body .menu-category ul.menu-dropdown {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

main .menu .menu-body .menu-category ul.menu-dropdown.open {
  max-height: 2000px;
  opacity: 1;
}

main .menu .menu-body .menu-category ul.menu-dropdown li {
  padding: 0.5em;
  text-align: center;
  background-color: #eff7e1;
  color: black;
  border-bottom: 1px solid white;
}

main .review {
  grid-column: span 3;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 0.2em;
}

main .review .review-item .review-item__name {
  padding: 0.5em;
  width: 100%;
  background-color: #333;
  color: white;
}

main .review .review-item .review-item__date {
  padding: 0.5em;
  font-size: 0.8em;
  color: #555;
}

main .review .review-item .review-item__text {
  padding: 0 0.5em 0.5em 0.5em;
}

main .review .review-form-container {
  padding: 0.5em;
  background-color: #eff7e1;
}

main .review .review-form-container form.review-form * {
  display: block;
  padding: 0.5em;
}

main .review .review-form-container form.review-form :not(:last-child) {
  width: 100%;
  margin-bottom: 0.5em;
}

main .review .review-form-container form.review-form textarea {
  resize: vertical;
}

main .review .review-form-container form.review-form input[type="submit"] {
  min-width: 44px;
  min-height: 44px;
  border: 0;
  background-color: #333;
  color: white;
  border-radius: 0.2em;
}

footer {
  background-color: #a2d0c1;
  padding: 20px;
}

footer h2 {
  font-size: 1rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */